// Media Breaks
$x-small-break: 400px;
$small-break: 600px;
$medium-break: 700px;
$large-break: 800px;
$x-large-break: 1600px;
$xx-large-break: 1800px;

// Typogrpahy
$txt-xs: 300px;
$txt-s: 768px;
$txt-m: 1200px;
$txt-l: 1600px;
$txt-m: 1024px;
$txt-l: 1200px;