// Media Breaks
$x-small-break: 400px;
$small-break: 600px;
$medium-break: 700px;
$large-break: 800px;
$x-large-break: 1600px;
$xx-large-break: 1800px;

// Typogrpahy
$mq-xs: 300px;
$mq-s: 768px;
$mq-m: 1200px;
$mq-l: 1600px;
// $mq-m: 1024px;
// $mq-l: 1200px;