// Grid
@mixin two-col($gap, $fr1, $fr2 ) {
    display: grid;
    grid-gap: $gap;
    grid-template-columns: $fr1 $fr2;
}


@mixin three-col($gap, $fr1, $fr2, $fr3) {
    display: grid;
    grid-gap: $gap;
    grid-template-columns: $fr1 $fr2 $fr3;
}