// misc.scss

@mixin image-block ($image_src){
    display: block;
    background-image: url($image_src);
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
    margin: auto;
}

.center {
    text-align: center;
}

// Code format.
pre {
    white-space: pre-wrap;       /* css-3 */
    white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
    white-space: -pre-wrap;      /* Opera 4-6 */
    white-space: -o-pre-wrap;    /* Opera 7 */
    word-wrap: break-word;       /* Internet Explorer 5.5+ */
}

// Accessibility Hide
.acc-hide {
    position:absolute;
    left:-10000px;
    top:auto;
    width:1px;
    height:1px;
    overflow:hidden;
}

// Browser Hacks
// :focus {
//     outline: none;
// }