// Variables
$base-font: 19px;
$ratio: 1.618;
$max-width: 1200px;

// Individual card scss
@import 'breakpoints';
@import 'text';
@import 'input';
@import 'nav';
@import 'grid';
@import 'misc';

// Browser Hacks
// :focus {
//     outline: none;
// }