// Variables
$base-font: 18px;
$ratio: 1.618;
$max-width: 1250px;

// Individual card scss
@import 'breakpoints';
@import 'text';
@import 'input';
@import 'nav';
@import 'grid';
@import 'misc';

// html, body {
//   overflow-x: hidden !important;
// }

.container {
  max-width: $max-width;
  display: block;
  margin: auto;
}