// Intial Credits: https://gist.github.com/Fischaela/87532a4e4e42ed8ebd14#file-_responsive-typography-scss
// Ratio and base variables
$ratio: 1.2;
$base: 0.875;
$base-em: $base * 1em;
$base-px: $base * 16px;

// Scale step variables
// Type scaling after http://type-scale.com/ with golden ratio
$ms0: 1;
$ms1: $ratio;        /* 1.2   */
$ms2: $ratio * $ms1; /* 1.44  */
$ms3: $ratio * $ms2; /* 1.728 */
$ms4: $ratio * $ms3; /* 2.074 */
$ms5: $ratio * $ms4; /* 2.488 */
$ms6: $ratio * $ms5; /* 2.986 */
$ms7: $ratio * $ms6; /* 3.583 */
$ms8: $ratio * $ms7; /* 4.2996 */
$ms9: $ratio * $ms8; /* 5,15952 */

body {
  font-family: sans-serif;
  font-size: $base-em * $ms0;
  line-height: $base * $ms4;

  @media (min-width: $txt-xs) {
    font-size: 1em * $ms1;
  }

  @media (min-width: $txt-m) {
    font-size: $base-px * $ms2;
  }

  @media (min-width: $x-large-break) {
    font-size: $base-px * $ms3;
  }
}

p {
  max-width: 40em;
  margin-right: auto;
  margin-left: auto;
  margin-top: .4em;
}

h1,h2,h3,h4,h5,h6 {
  margin: 0;
  line-height: $ratio;
  margin-bottom: .4em;
}

h6 {
  font-size: $base-em / $ms1;
}

h5 {
  font-size: $base-em * $ms0;
}

h4 {
  font-size: $base-em * $ms1;
}

h3 {
  font-size: $base-em * $ms2;

  @media (min-width: $txt-s) {
    font-size: $base-em * $ms3;
  }
}

h2 {
  font-size: $base-em * $ms3;

  @media (min-width: $txt-s) {
    font-size: $base-em * $ms4;
  }

  @media (min-width: $txt-m) {
    font-size: $base-em * $ms5;
  }
}

h1 {
  font-size: $base-em * $ms5;

  @media (min-width: $txt-s) {
    font-size: $base-em * $ms6;
  }

  @media (min-width: $txt-m) {
    font-size: $base-em * $ms7;
  }

  @media (min-width: $txt-l) {
    font-size: $base-em * $ms8;
  }
}