// Variables
$base-font: 19px;
$ratio: 1.618;
$max-width: 1000px;

// Individual card scss
@import 'text';
@import 'breakpoints';
@import 'grid';
@import 'input';
@import 'misc';

// Browser Hacks
:focus {
    outline: none;
}